.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.30;
}
.sidebar-header {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-right: 1px solid lightgray;
}
.right-sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}
.sidebar-search {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;
}
.sidebar-search-container {
    align-items: center;
    width: 100%;
    height: 35px;
    display: flex;
    border-radius: 20px;
    background-color: white;
}
.sidebar-search-container > .MuiSvgIcon-root {
    color: gray;
    padding: 10px;
}
.sidebar-search-container > input {
    border: none;
    margin-left: 10px;
    outline-width: 0;
}
.sidebar-chats {
    flex: 1;
    background-color: white;
    overflow: scroll;
}