.container {
    height: 60px;
    justify-content: space-between;
    width: 100%;
}
.container:hover {
    background-color: #202c33;
}
.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.chat-info {
    color: white;
    font-size: 15px;
}